{
  "STEAM_API_KEY": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
  "DO_KEY": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
  "LOGS_KEY": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
  "DEMOS_KEY": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
  "DISABLE_RENTING": false
}
